@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Inconsolata:wght@200..900&display=swap');

* {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
   
}

a {
    text-decoration: none;
    color: black;
    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: auto;
    background-color: rgb(88, 143, 245);
    
}

.nav-brand {
    margin-left: 2rem;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.nav-link {
    padding: 14px 5px;
    min-width: 80px;
    height: 100%;
}

.nav-link:hover {
    border-bottom: 2px solid blue;
}

#category-dropdown {
    display:none;
    position: absolute;
    min-width: 200px;
}
#category-dropdown a {
    
    display:block;
    white-space: nowrap;
}

#category-dropdown a:hover {
  background-color: #3088d5;
  color:whitesmoke;
}

#nav-dropdown {
    padding: 14px 5px;
    min-width: 150px;
    height: 100%;
}
#nav-dropdown:hover, #cart:hover {
    border-bottom: 2px solid blue;
}
#nav-dropdown:hover #category-dropdown {
    display: block;
    background-color: rgb(242, 242, 242);
    text-align: start;
    
}


#searchProduct {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
}

#searchProduct:focus {
    outline: 2px solid blue;

}

#cart {
    padding: 14px 5px;
    min-width: 60px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1200px;
    padding: 30px;
    gap: 2rem;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

#products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 300px;
    /* border: 2px solid rgb(77, 157, 194); */
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(236, 236, 236);
    color: rgb(23, 23, 23);

    padding: 10px;
}

.cart-item {
    background-color: rgb(229, 237, 243);
    border: 1px solid rgb(93, 93, 104);
    border-radius: 10px;
    max-height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    width: 250px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.remove-item {
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(76, 119, 159);
    
}

.remove-item:hover {
    transition: background-color;
    transition-duration: 0.2s;
    background-color: rgb(88, 138, 184);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}



@media screen and (max-width: 400px) {
    nav {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 10rem;
        gap: 3rem;
    }

    .nav-brand {
        margin: 0;
    }

    .nav-links {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .nav-link {
        min-width: 30px;
    }

    .main-container {
        flex-direction: column;
    }

    #products {
        flex-direction: column;
    }
}